# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Logs
*.log

# ML artifacts
models/
checkpoints/

# Data
data/

# Jupyter
.ipynb_checkpoints/

uploads/